visitantes.json
[{"id":"ca7a56e8.d0e1d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"52982eca.b9616","type":"html","z":"ca7a56e8.d0e1d8","name":"","property":"payload","outproperty":"payload","tag":".vrow","ret":"html","as":"single","x":250,"y":320,"wires":[["69123445.ca58dc"]]},{"id":"aca3cbb8.d10da8","type":"http request","z":"ca7a56e8.d0e1d8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www2.fab.mil.br/musal/","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":240,"wires":[["52982eca.b9616"]]},{"id":"ee08b14c.01f6d","type":"debug","z":"ca7a56e8.d0e1d8","name":"hoje","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"75d46616.760828","type":"function","z":"ca7a56e8.d0e1d8","name":"Split dados","func":"var msgHoje = {payload: msg.payload.Hoje};\nvar msgOntem  = {payload: msg.payload.ontem};\nvar msgSemana = {payload: msg.payload.semana};\nvar msgMes = {payload: msg.payload.mes};\nvar msgDias = {payload: msg.payload.dias};\nvar msgTodos ={payload: msg.payload.todos};\nreturn [msgHoje, msgOntem, msgSemana, msgMes, msgDias,msgTodos ];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":300,"wires":[["1eb6a6ee.a80679","ee08b14c.01f6d","5d991853.533a98"],["2a883e8e.7f0c82"],["2576c5a2.0d891a"],["6ecdd013.41ff3"],["34f33443.1ce99c"],["9c30f78c.804c98","cb266d4a.4f2bc"]]},{"id":"2a883e8e.7f0c82","type":"debug","z":"ca7a56e8.d0e1d8","name":"ontem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":220,"wires":[]},{"id":"2576c5a2.0d891a","type":"debug","z":"ca7a56e8.d0e1d8","name":"semana","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":280,"wires":[]},{"id":"7e55e583.b9550c","type":"split","z":"ca7a56e8.d0e1d8","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":240,"wires":[["5b2934f4.52031c"]]},{"id":"5b2934f4.52031c","type":"function","z":"ca7a56e8.d0e1d8","name":"Payload objeto","func":"var newMsg = {};\n\nvar dados = {\n    Hoje: 0, \n    ontem: 0,\n    semana: 0,\n    mes: 0,\n    dias: 0,\n    todos:0,\n  \n    Time: new Date().toString()\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index){\n    case 0:\n        context.data.Hoje = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.ontem = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.semana = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.mes = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 4:\n        context.data.dias = parseFloat(msg.payload);\n        msg = null;\n        break;   \n    case 5:\n        context.data.todos = parseFloat(msg.payload);\n        msg = null;\n        break;    \n    default:\n        msg = null;\n        break;\n}\n\nAllData = context.data.Hoje &&\n          context.data.ontem &&\n          context.data.semana &&\n          context.data.mes &&\n          context.data.dias &&\n          context.data.todos ;\n\nif(AllData){\n    var time = Date();\n    context.data.Time = time.toString();\n    dados = context.data;\n    newMsg = { payload: context.data,\n    topic: 'Frame dados' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":140,"wires":[["75d46616.760828"]]},{"id":"6ecdd013.41ff3","type":"debug","z":"ca7a56e8.d0e1d8","name":"mes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":380,"wires":[]},{"id":"34f33443.1ce99c","type":"debug","z":"ca7a56e8.d0e1d8","name":"dias","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":460,"wires":[]},{"id":"9c30f78c.804c98","type":"debug","z":"ca7a56e8.d0e1d8","name":"todos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":560,"wires":[]},{"id":"15ada72d.4ab079","type":"debug","z":"ca7a56e8.d0e1d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":460,"wires":[]},{"id":"69123445.ca58dc","type":"function","z":"ca7a56e8.d0e1d8","name":"funcao slice","func":"// Suponha que você tenha um array em msg.payload, por exemplo:\n// msg.payload = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17];\n\n// Use a função slice para eliminar os elementos de 0 a 9\nmsg.payload = msg.payload.slice(12); // Isso manterá apenas os elementos de 10 a 17\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":340,"wires":[["15ada72d.4ab079","7e55e583.b9550c"]]},{"id":"1eb6a6ee.a80679","type":"ui_gauge","z":"ca7a56e8.d0e1d8","name":"Visitantes diários","group":"d2ed3b2c.2ebdf8","order":0,"width":0,"height":0,"gtype":"donut","title":"visitantes diários","label":"units","format":"{{value}}","min":0,"max":"40000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":80,"wires":[]},{"id":"e7f4c72c.916278","type":"ui_button","z":"ca7a56e8.d0e1d8","name":"","group":"d2ed3b2c.2ebdf8","order":2,"width":0,"height":0,"passthru":false,"label":"atualizar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":380,"wires":[["aca3cbb8.d10da8"]]},{"id":"778525d8.81a95c","type":"remote-access","z":"ca7a56e8.d0e1d8","confignode":"ce5865aa.b610a8","name":"visitantes diários","verbose":0,"x":330,"y":60,"wires":[[]]},{"id":"cb266d4a.4f2bc","type":"ui_gauge","z":"ca7a56e8.d0e1d8","name":"Visitantes total","group":"d2ed3b2c.2ebdf8","order":0,"width":0,"height":0,"gtype":"compass","title":"visitantes total","label":"units","format":"{{value}}","min":0,"max":"50000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":560,"wires":[]},{"id":"5d991853.533a98","type":"csv","z":"ca7a56e8.d0e1d8","name":"visitantes diários","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\r\\n","temp":"comma-separetade columns name","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1210,"y":200,"wires":[[]]},{"id":"d2ed3b2c.2ebdf8","type":"ui_group","name":"diários","tab":"49e509b1.41c968","order":1,"disp":true,"width":"6","collapse":false},{"id":"ce5865aa.b610a8","type":"remote-config","name":"visitantes diários","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"ar8rz1uy8p26f5amw7puywh8655gxcnqdaknxsx65s8zid5zysu61jn4m55uhlig","server":"nodered04.remote-red.com","region":"de"},{"id":"49e509b1.41c968","type":"ui_tab","name":"Visitantes","icon":"dashboard","disabled":false,"hidden":false}]